<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">Time Series</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="top-header">
    <h2>Austria</h2>
    <p>
      Share of women among judges, %
    </p>
  </div>
  <div class="tag-area">
    <p>year</p>
    <p>
      value
    </p>
  </div>
  <div class="list-area">
    <div class="wrap">
      <p>2005</p>
      <p>
        40.3
      </p>
    </div>
    <div class="wrap">
      <p>2006</p>
      <p>
      44.2
      </p>
    </div>
    <div class="wrap">
      <p>2007</p>
      <p>
        45.5
      </p>
    </div>
    <div class="wrap">
      <p>2008</p>
      <p>
        45.2
      </p>
    </div>
    <div class="wrap">
      <p>2009</p>
      <p>
        45.8
      </p>
    </div>
    <div class="wrap">
      <p>2010</p>
      <p>
        47.4
      </p>
    </div>
    <div class="wrap">
      <p>2011</p>
      <p>
        48.5
      </p>
    </div>
    <div class="wrap">
      <p>2011</p>
      <p>
        48.5
      </p>
    </div>
    <div class="wrap">
      <p>2012</p>
      <p>
       49.6
      </p>
    </div>
    <div class="wrap">
      <p>2013</p>
      <p>
 50.8
      </p>
    </div>
    <div class="wrap">
      <p>2014</p>
      <p>
       51.9
      </p>
    </div>
    <div class="wrap">
      <p>2015</p>
      <p>
       53.1
      </p>
    </div>
    <div class="wrap">
      <p>2016</p>
      <p>
      53.3
      </p>
    </div>
    <div class="wrap">
      <p>2017</p>
      <p>
      54.0
      </p>
    </div>
    <div class="wrap">
      <p>2018</p>
      <p>
       54.3
      </p>
    </div>
    <div class="wrap">
      <p>2019</p>
      <p>
       55.6
      </p>
    </div>
  </div>
</ion-content>
