ion-content{
  position: relative;
  ion-segment{
    background-color:#1d2951;
    ion-segment-button{
      border-right: 1px solid #ffffff;
      color: #a6a6a6;
      font-size: 14px;
      text-transform: uppercase;
    }
    .segment-button-checked {
      color: #ffffff !important;
      background: #002147 !important;
      --background: #002147 !important;
      --background-color: #002147 !important;
      --background-checked: #002147 !important;
    }
  }
  .third-tab{
    margin-bottom: 40px;
  }
  .top-text{
    background-color: #f7f8d0;
    p{
      margin: 0;
      text-align: center;
      padding: 9px 11px;
      font-size: 15px;
      line-height: 22px;
      font-weight: 600;
    }
  }
  ion-item{
    --background: #eaebc5;
    ion-select{
      flex: unset;
      color: #000000 !important;
      font-weight: 600;
      font-size: 15px;
      ion-select-popover{
        ion-list{
          background-color: red;
        }
      }
    }
  }
  .vertical-area{
    background-color: #f7f8d0;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin-top: 16px;

    .progress-wrap{
      border-bottom: 1px solid #a69f9f;
      background-color: #6666662b;
      padding: 7px;
      // h2{
      //   margin: 0 0 11px 0;
      //   text-transform: capitalize;
      //   background-color: #62889b;
      //   color: #fff;
      //   padding: 5px;
      //   border-radius: 5px;
      //   border-bottom: 2px solid #2f4c51;
      // }
      .inner-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 9px;
        border-bottom: 1px solid #c0b8b8;
        padding-bottom: 10px;
        .left-area{
          display: flex;
          align-items: center;
          width: 100%;
          span{
            color: #000;
            font-size: 15px;
            margin-right: 5px;
          }
          ion-progress-bar{
            height: 24px;
            border-radius: 5px;
          }
          .progress-bar{
            background: linear-gradient(#59b3e2, #2778a1);
            padding: 5px;
            border-radius: 5px;
            h2{
              margin: 0 0 0 7px;
              color: #fff;
              font-size: 13px;
              text-transform: capitalize;
            }
          }
        }
        .right-area{
          .yellow-bg{
            span{
              background-color: #fada5e;
              border-radius: 5px;
              color: #000000;
              text-transform: uppercase;
              padding: 10px 25px;
              font-size: 14px;
              font-weight: 600;
              font-family: "Signika Negative", sans-serif;
              margin-left: 9px;
              border: 1px solid #d3bb5da8;
            }
          }
        }
      }
    }
  }
  .tag-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #913c25;
    padding: 7px 11px;
    p{
      color: #ffffff;
      margin: 0;
      font-size: 14px;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
  .list-area{
    background-color: #f9f9d3;
    margin-top: 49px;
    .wrap{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 6px 13px 12px;
      border-bottom: 1px solid #cababa;
      p{
        margin: 0;
        text-transform: capitalize;
        font-size: 14px;
        color: #000000;
        font-weight: 600;
      }
    }
    .flag-wrap{
      display: flex;
      align-items: center;
      img{
        width: 28px;
        height: 28px;
        object-fit: contain;
      }
      span{
        font-size: 14px;
        color: #000000;
        font-weight: 600;
        margin-left: 19px;
      }
    }
  }
  .textarea-input{
    position: relative;
    padding: 10px;
    ion-item{
      ion-textarea{
        font-size: 15px;
    color: #494848;
      }
    }
    .button-area{
      text-align: center;
      ion-button{
        margin-top: 22px;
      }
    }
  }
  .graph-area{
    position: relative;
    margin-top: 18px;
}
.checking-area{
    background-color: #f9fad2;
    padding: 10px;
    margin-top: 26px;

    .wrapping{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        --background: #f9fad2;
        border-bottom: 1px solid #cababa;
        padding: 3px 0 6px 0;
        .left-part{
            display: flex;
            align-items: center;
            flex: 1;
            img{
                width: 28px;
                height: 28px;
                object-fit: contain;
                margin-right: 8px;
            }
            p{
                margin: 0;
                font-size: 15px;
                font-weight: 600;
                text-transform: capitalize;
            }
        }
        .right-part{
            position: relative;
            display: flex;
            align-items: center;
            ion-checkbox {
                --checkbox-background-checked: #0a666d;
                --border-color-checked: #0a666d;
              }
            span{
                background-color: #ebebab;
                border-radius: 5px;
                color: #000000;
                text-transform: uppercase;
                padding: 10px 25px;
                font-size: 13px;
                font-family: "Signika Negative", sans-serif;
                margin-left: 9px;
                border: 1px solid #dadaa7;
            }
        }
    }
}
.card-area{
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  padding: 11px;
  border-radius: 7px;
  margin-bottom: 20px;
  .top-name-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .left-wrapping{
      display: flex;
      align-items: center;
      .notepad-area{
        background-color: #0eb5d4;
        width: 33px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        ion-icon{
          color: #ffffff;
          font-size: 15px;
        }
      }
      p{
        text-transform: capitalize;
        margin: 0 0 0 11px;
        color: #000000;
        font-weight: 600;
        font-size: 14px;
      }
    }
    .right-wrapping{
      p{
        color: #7b7b7b;
        margin: 0;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
  p{

  }
  .short-txt{
    margin: 0;
    font-size: 14px;
    color: #000000;
  }
  .image-area{
    ion-thumbnail{
      width: 100%;
      height: 200px;
      margin: 20px 0 10px;
      img{
        width: 100%;
        height: 200px;
        border-radius: 10px;
      }
    }
  }
  .bottom-wrapping{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #666666a3;
    padding-bottom: 5px;
    margin-bottom: 2px;
    .left-area{
      p{
        color: #7b7b7b;
        margin: 0;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .right-area{
      ul{
        padding: 0;
        margin: 0;
        display: flex;
        li{
          list-style-type: none;
          ion-button{
            --background: transparent;
            --box-shadow: none;
            margin: 0;
            height: 0;
            width: auto !important;
            padding: 0;
            font-size: 7px;
            ion-icon{
              font-size: 18px;
              // margin-right: 11px;
              color: #1d2951;
            }
          }
        }
      }
    }
  }
  ion-item{
    --background: transparent;
    ion-avatar{
      margin-right: 10px;
    }
    ion-label{
      font-size: 15px;
      font-weight: bold;
      color: #000000;
      span{
        font-size: 14px;
        color: #635e5e;
        font-weight: 400;
        line-height: 21px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
}
