<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h4>Our Story</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto deserunt error inventore ipsam natus non perspiciatis rerum totam voluptates? Consequuntur
      dolorum eligendi explicabo illum incidunt itaque molestiae odio veritatis.</p>

    <h4>Features</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, similique.:</p>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt deleniti minus laboriosam!</li>
      <li>Lorem ipsum dolor sit.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>Lorem ipsum dolor sit amet consectetur.</li>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt deleniti minus.</li>
      <li>Lorem ipsum dolor sit.</li>
    </ul>
    <div class="button-area">
      <ion-button routerLink="/timeseries">Time Series</ion-button>
    </div>
  </div>
</ion-content>
