<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">Country Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="top-header">
    <h2>Albania</h2>
  </div>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label>Decision-Making</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header">
        <ion-label>Economy</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header">
        <ion-label>Decision-Making</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header">
        <ion-label>Economy</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header">
        <ion-label>Decision-Making</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="six">
      <ion-item slot="header">
        <ion-label>Economy</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="seven">
      <ion-item slot="header">
        <ion-label>Decision-Making</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
        <div class="wrap-area">
          <p>
            Share of women among government ministers, % (2019)
          </p>
          <span>57.1%</span>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
